<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeSearch - {{ pokemon_name.capitalize() }}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ pokemon_sprite }}" alt="{{ pokemon_name }} Sprite" width="150" height="150">
        <h1>{{ pokemon_name.capitalize() }}</h1> <!-- Aquí se muestra el nombre del Pokémon -->
    </header>

    <main>
        <p>¡Has encontrado a {{ pokemon_name.capitalize() }}!</p>

        <!-- Mostrar las estadísticas del Pokémon -->
        <ul>
            <li>Peso: {{ pokemon_weight }} kg</li>
            <li>Altura: {{ pokemon_height }}</li>
            <li>HP: {{ pokemon_hp }}</li>
            <li>Ataque: {{ pokemon_atk }}</li>
            <li>Defensa: {{ pokemon_def }}</li>
            <li>Ataque Especial: {{ pokemon_satk }}</li>
            <li>Defensa Especial: {{ pokemon_sdef }}</li>
            <li>Velocidad: {{ pokemon_spe }}</li>
            <li>Estadísticas Totales: {{ pokemon_total_stat }}</li>
        </ul>
    </main>

    <footer>
        <p>Regresar a la <a href="{{ url_for('index') }}">página principal</a>.</p>
    </footer>
</body>
</html>
